In [11]:
import mysql.connector

In [13]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "Admin",
    passwd = "senha",
    database = "testdb",
)

#print(mydb)

In [14]:
my_coursor = mydb.cursor()

In [16]:
my_coursor.execute("DROP DATABASE testdb; CREATE DATABASE testdb;", multi = True) # multi é usado para aceitar vários statments

In [24]:
my_coursor.execute("show databases")

In [17]:
print(my_coursor)

MySQLCursor: show databases

In [25]:
for db in my_coursor:
    print(db[0])

information_schema
mysql
performance_schema
sakila
sys
testdb
world

In [37]:
#my_coursor.execute("USE testdb") não é necessário pois informamos a DB no cabeçário

In [33]:
my_coursor.execute("CREATE TABLE users(name VARCHAR(255) NOT NULL, email varchar(255), age INTEGER(3), user_id INTEGER AUTO_INCREMENT PRIMARY KEY)")

* Para que o comando acima seja executado, é necessário que o database seja especificado.

In [35]:
my_coursor.execute("show tables")
for tb in my_coursor:
    print(tb[0])

users

In [2]:
#para rodar a extenção sql, precisa colocar o comando abaixo, com ! para rodar no CMD
#%!pip install ipython-sql

%load_ext sql

In [60]:
import sqlalchemy

sqlalchemy.create_engine('mysql+pymysql://Admin:senha@localhost:3306/testdb') # ISSO SÓ É NECESSÁRIO NA PRIMEIRA CONECÇÃO!

#https://docs.sqlalchemy.org/en/14/core/engines.html#database-urls
#https://pypi.org/project/ipython-sql/

Engine(mysql+pymysql://Admin:***@localhost:3306/testdb)

In [17]:
%sql mysql+pymysql://Admin:senha@localhost:3306/

In [21]:
%sql SHOW DATABASES

 * mysql+pymysql://Admin:***@localhost:3306/
   mysql+pymysql://Admin:***@localhost:3306/testdb
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test2',),
 ('testdb',),
 ('world',)]

In [20]:
%sql CREATE DATABASE test2

 * mysql+pymysql://Admin:***@localhost:3306/
   mysql+pymysql://Admin:***@localhost:3306/testdb
1 rows affected.

[]

# [Ipython documentation:](https://pypi.org/project/ipython-sql/)

**Pandas**

* If you have installed pandas, you can use a result set’s .DataFrame() method

In [3]: result = %sql SELECT * FROM character WHERE speechcount > 25

In [4]: dataframe = result.DataFrame()

* The --persist argument, with the name of a DataFrame object in memory, will create a table name in the database from the named DataFrame. Or use --append to add rows to an existing table by that name.

In [5]: %sql --persist dataframe

In [6]: %sql SELECT * FROM dataframe;

**Dumping**

* Result sets come with a .csv(filename=None) method. This generates comma-separated text either as a return value (if filename is not specified) or in a file of the given name.

In[8]: result = %sql SELECT title, totalwords FROM work WHERE genretype = 'c'

In[9]: result.csv(filename='work.csv')